*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #878787;
    color: orange;
    height: 100vh;
}
button{
    background-color: #fff;
    width: 91.22px;
    height: 33px;
    border-radius: 16.5px 0px 0px 0px;
    }
a{
    text-decoration: none;
}
ul{
    display: flex;
    gap: 19px;
    list-style: none;
}
.dflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper{
    background-image: url(/assets/d31bcd8f1e43572e36d821de1c277580.png);
    height: 840px;
    background-size: cover;
    
}
header{
    height: 68px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: #fff;
}
header nav{
    gap:60px;
}

